// ==========================================================================
// Variables
// ==========================================================================


// Font Stacks


// Colors

$white			: #FFFFFF;
$cream 			: #F9F9CF;
$lime 			: #B5C049;
$grass			: #8B9833;

$sky-blue		: #ABE0FA;
$glacier		: #68ABC0;
$slate-blue		: #4C5A5B;